
  <head>
    <title>Document</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/api/users/login/password" method="post">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required />
      <label for="password" name="password">Password</label>
      <input type="password" id="password" name="password" />
      <button>Submit</button>
    </form>
  </body>
</html>